<div class="admin-views container-fluid">
<h1>Создать пользователя</h1>
<div class="row">
<div style="float: right; font-size: 150%; font-weight: bold;"><span class="info"><%= link_to 'Назад', admins_path %></span></div>
</div>

<%= render 'form' %>

</div>
