<div class="products">
<h1>Редактировать подкатегорию</h1>
<div style="margin-bottom: 3%; float: right;"><span class="info"><%= link_to 'Назад', admins_path %></span></div>

<%= render 'form' %>

</div> <!-- end of products block -->
