<div class="main-data">
<h1>Изменение контактной информации</h1>
<div style="margin-bottom: 3%; float: right; font-size: 150%; font-weight: bold;"><span class="info"><%= link_to 'Назад', admins_path %></span></div>

<%= render 'form' %>

</div>
