/* notice and alert */
p#notice.msg {
	color: #18bc9c;
}

p#alert.msg {
	color: #f39c12;
}

/* end of notice and alert */

a:hover {
	color: #e74c3c !important;
}

ul.dropdown-menu {
	background-color: #15a488;
	color: #2c3e4f !important;
	position: relative;
}

ul.dropdown-menu > li > a {
	color: #ffffff !important;
}

ul.dropdown-menu > li > a:hover {
	color: #2c3e4f !important;
}

#admin-panel {
	background-color: #2c3e4f !important;
}

.brand-clicked {
	background-color: #15a488 !important;
	color: #2c3e4f !important;
}

.brand-clicked > a {
	color: #2c3e4f !important;
}

div.entered-as {
	margin-bottom: 5px !important;
}

a:hover {
	background-color: #ffffff !important;
}

table, th, td {
	border: 2px solid #2c3e4f !important;
}

th {
	background-color: #2c3e4f;
	color: #ffffff;
	text-align: center !important;
}

td > a {
	text-decoration: none !important;
	text-align: center !important;
	color: #2c3e4f !important;
}

.admins {
	background-color: #bac4c5;
	margin-top: -50px;
	padding-top: 50px;
}

.admins > h1 {
	margin-top: 0;
}

.admins > h2 {
	margin-top: 0;
}

h1#admin-pan {
	margin-top: 0;
	padding-top: 4%;
	padding-bottom: 3%;
}

.msg {
	text-align: center;
	font-size: 200%;
	font-weight: bold;
}

#alert {
	color: #e74c3c;
}

.panel-blue {
	background-color: #2c3e4f;
	color: #ffffff;
	padding-bottom: 5%;
}

.panel-blue > h2 {
	margin-top: 0;
}

.panel-green {
	background-color: #18bc9c;
	padding-bottom: 3%;
}

td.waring > a {
	color: #f39c12;
}

span.warning > a {
	color: #f39c12;
}

span.danger > a {
	color: #e74c3c;
}

span.success > a {
	color: #18bc9c;
}

span.info > a {
	color: #3498db;
}

p.info {
	color: #3498db;
	margin-bottom: 0;
}

/* Products' views */
.products {
	margin-top: -110px;
	background-color: #bac4c5;
	min-height: 100%;
	max-height: 100%;
}

.products > h1 {
	margin-top: 0;
}

.save {
	background-color: #18bc9c;
	color: #2c3e4f;
	border: none;
	margin-bottom: 100%;
	font-size: 200%;
	font-weight: bold;
	padding: 2% 2% 2% 2%;
}

/* Main data view */
.main-data {
	margin-top: -110px;
	background-color: #18bc9c;
	min-height: 100%;
	max-height: 100%;
}

.main-data > h1 {
	margin-top: 0;
}

.save-main {
	background-color: #f39c12;
	color: #2c3e4f;
	border: none;
	margin-bottom: 100%;
	font-size: 200%;
	font-weight: bold;
	padding: 2% 2% 2% 2%;
}

/* Admin Views */
.admin-views {
	margin-top: -110px;
	background-color: #2c3e4f;
	color: #ffffff;
	min-height: 100%;
	max-height: 100%;
}

.admin-views > h1 {
	margin-top: 0;
}

/* Login screen */
.login {
	text-align: center;

}

.login > h1 {
	margin-top: 0;
}

.enter {
	background-color: #e74c3c;
	color: #ffffff;
	border: none;
	font-size: 200%;
	font-weight: bold;
	padding: 2% 2% 2% 2%;
	margin-bottom: 100%;
}

#admin_name {
	background-color: #ffffff !important;
	color: #2c3e4f;
	font-size: 125%;
}

#admin_password {
	background-color: #ffffff !important;
	color: #2c3e4f;
	font-size: 125%;
}

#admin_password_digest {
	background-color: #ffffff !important;
	color: #2c3e4f;
	font-size: 125%;
}

#admin_password_confirmation {
	background-color: #ffffff !important;
	color: #2c3e4f;
	font-size: 125%;
}

/* Align forms */
.form-align {
	text-align: center;
}

/* Product forms */
#product_description {
	min-width: 75%;
	max-width: 75%;
	height: 250px;
}

/* Main info form */
#main_datum_about {
	min-width: 75%;
	max-width: 75%;
	height: 250px;
}

#main_datum_address {
	min-width: 75%;
	max-width: 75%;
}

/* Error */
#error_explanation {
	background-color: #f39c12 !important;
}
