body {
	padding-top: 110px;
	color: #ffffff;
	background: url("bw_low.jpg");
	background-repeat: repeat;
}

input, textarea {
	color: #222222;
}

h1, h2, h3, h4, p, td {
	padding: 2px;
	background: rgba(0, 0, 0, 0.55);
}

#about li {
	padding: 2px;
	background: rgba(0, 0, 0, 0.55);
}

#about p, ul, ol {
	margin-bottom: 0!important;
}

img {
    max-width: 100%;
}

.subcategory-img {
	max-height: 300px;
}

.product-img {
	max-height: 100px;
}

.product_row {
	border: 2px solid #222222;
}

.subcategory_row {
	background: rgba(0, 0, 0, 0.75);
}

span {
  color:#ffffff;
}

#top {
	background-color: #222222;
	text-align: center;
	color: #ffffff;
}

#top p {
	margin-bottom: 0;
}

/*#menu-container {
	background-color: #149c82;
}*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

h1 {
	text-align: center;
	margin-top: 5px!important;
}

h2 {
	text-align: center;
}

#house li {
	padding-bottom: 5%;
}

.product_block {
	margin-top: 100px;
}

#bottom {
	background-color: #222222;
	text-align: center;
	color: #ffffff;
}

#bottom p {
	margin-bottom: 0;
}

#bottom a {
	color: #ffffff;
}

.products_list {
	margin-top: -110px;
}