body {
	padding-top: 110px;
	color: #2c3e50;
	background: url("bw_low.jpg");
	background-repeat: repeat;
	font-size: 120%;
}

input, textarea {
	color: #2c3e50;
}

/*h1, h2, h3, h4, p, td {
	padding: 2px;
	background: rgba(21, 165, 137, 0.55);
}*/

a.list-group-item {
	color: #2c3e50;
}

.white-span {
	color: #ffffff;
}

#about li {
	padding: 2px;
}

#about p, ul, ol {
	margin-bottom: 0!important;
}

img {
    max-width: 100%;
}

.subcategory-img {
	max-height: 200px;
}

.product-img {
	max-height: 100%;
	padding: 1px;
}

.subcategory_row {
	background: rgba(21, 165, 137, 0.75);
}

.subcategory_col {
	border: 2px solid #95a5a6;
}

.subcategory_col-first {
	background-color: rgba(231, 76, 60, 0.75);
	border: 2px solid #95a5a6;
}

.subcategory_col h4 p {
	margin: 0;
}

.category-col {
	padding-top: 50px;
}

@media (min-width: 767px) {
    .subcategory_col {
    	height: 100px;
    }

    .subcategory_col-first {
    	height: 100px;
    }
}

span {
  color:#2c3e50;
}

#top {
	background-color: #15a589;
	text-align: center;
	color: #ffffff;
}

#top p {
	margin-bottom: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

h1 {
	text-align: center;
	margin-top: -2px!important;
}

h2 {
	text-align: center;
}

#house li {
	padding-bottom: 5%;
	color: #2c3e50;
}

.product_block {
	margin-top: 100px;
	background-color: rgba(21, 165, 137, 0.75);
}

.product_block h2 {
	margin: 0;
}

#bottom {
	background-color: #15a589;
	text-align: center;
	color: #ffffff;
}

#bottom p {
	margin-bottom: 0;
}

#bottom a {
	color: #2c3e50;
}

.products_list {
	margin-top: -110px;
}