<div class="products form-align">
<h1>Добавить категорию</h1>
<div style="margin-bottom: 3%; float: right;"><span class="info"><%= link_to 'Назад', admins_path %></span></div>

<%= render 'form' %>

</div>
